html {
  font-size: 62.5%; }

/**************************************/
body {
  background: #f9f8f6;
  font-size: 1.3em; }
  body header #header_in {
    vertical-align: bottom;
    text-align: center;
    margin-top: 15px; }
    body header #header_in .logo {
      text-align: center; }
    body header #header_in .sp_navi {
      cursor: pointer; }
      body header #header_in .sp_navi li {
        display: inline-block; }
        body header #header_in .sp_navi li .sp_menu .sp_menu_toggle {
          display: none;
          width: 180px;
          position: absolute;
          background: #ffffff;
          text-align: center; }
          body header #header_in .sp_navi li .sp_menu .sp_menu_toggle li {
            list-style: none;
            margin: 0;
            padding: 0; }
            body header #header_in .sp_navi li .sp_menu .sp_menu_toggle li a {
              display: block;
              text-decoration: none;
              font-size: 1.4em;
              border-bottom: 1px solid #eee;
              z-index: 100; }
              body header #header_in .sp_navi li .sp_menu .sp_menu_toggle li a:hover {
                color: #b0c4de; }
  @media (max-width: 550px) {
    body header .pc_navi {
      display: none; } }
  body #main #cover_area img {
    width: 100%; }
  body #main #new_area img {
    width: 100%; }
  body #main #new_area .flex_box {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex: 1;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
  body #main #new_area .item {
    width: 33.1%;
    background-color: #ffffff;
    margin-top: 2px; }
    body #main #new_area .item .item_box {
      margin: 10px; }
    body #main #new_area .item .service_title {
      margin-bottom: 10px; }
  body #main #popular_area img {
    width: 100%; }
  body #main #popular_area .flex_box {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex: 1;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
  body #main #popular_area .item {
    width: 33.1%;
    background-color: #ffffff;
    margin-top: 2px; }
    body #main #popular_area .item .item_box {
      margin: 10px; }
    body #main #popular_area .item .service_title {
      margin-bottom: 10px; }
  body #main #guide_area img {
    width: 100%; }
  body #main #guide_area .flex_container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex: 1; }
  body #main #guide_area .guide_box {
    width: 50%;
    background-color: #ffffff;
    margin: 1px; }
    body #main #guide_area .guide_box h3 {
      color: #887f69;
      font-weight: bold;
      font-size: 1.5em;
      padding-left: 20px;
      padding-top: 20px; }
    body #main #guide_area .guide_box .guide_otodoke img {
      width: 50%;
      padding-left: 20px; }
    body #main #guide_area .guide_box dt {
      font-weight: bold;
      color: #887f69;
      padding-left: 20px; }
    body #main #guide_area .guide_box dd {
      padding-left: 20px; }
    body #main #guide_area .guide_box .guide_pict img {
      width: 80%; }
  body #sidebar .search_box {
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: #ffffff; }
    body #sidebar .search_box .title {
      padding: 15px; }
    body #sidebar .search_box .window {
      background-color: #eeeeee;
      font-style: italic;
      font-size: 1.1em;
      color: #b5b5b5;
      margin: 0 15px 15px 15px;
      padding: 5px; }
      body #sidebar .search_box .window img {
        float: right; }
  body #sidebar .pagelink {
    margin-bottom: 10px; }
    body #sidebar .pagelink .pagelink_btn {
      color: #ffffff;
      font-weight: bold;
      background-color: #887f69;
      padding: 15px;
      background-image: url(/images/top/next_icon.png);
      background-repeat: no-repeat;
      background-size: 8px 14px;
      background-position: right center;
      cursor: pointer; }
    body #sidebar .pagelink .pagelink_toggle {
      display: none; }
      body #sidebar .pagelink .pagelink_toggle li {
        list-style: none;
        margin: 0;
        padding: 5px 0 5px 15px;
        background: #ffffff;
        background-image: url(/images/top/next_icon_gray.png);
        background-position: right center;
        background-repeat: no-repeat; }
        body #sidebar .pagelink .pagelink_toggle li a {
          display: block;
          border-bottom: 1px solid #eee;
          text-decoration: none;
          z-index: 100; }
          body #sidebar .pagelink .pagelink_toggle li a:hover {
            color: #b0c4de; }
  body #sidebar .categories {
    margin-bottom: 10px; }
    body #sidebar .categories .categories_btn {
      background-color: #887f69;
      padding: 15px;
      background-image: url(/images/top/next_icon.png);
      background-repeat: no-repeat;
      background-size: 8px 14px;
      background-position: right center;
      cursor: pointer; }
    body #sidebar .categories .categories_toggle {
      display: none; }
      body #sidebar .categories .categories_toggle li {
        list-style: none;
        margin: 0;
        padding: 5px 0 5px 15px;
        background: #ffffff;
        background-image: url(/images/top/next_icon_gray.png);
        background-position: right center;
        background-repeat: no-repeat; }
        body #sidebar .categories .categories_toggle li a {
          display: block;
          border-bottom: 1px solid #eee;
          text-decoration: none;
          z-index: 100; }
          body #sidebar .categories .categories_toggle li a:hover {
            color: #b0c4de; }
  body #sidebar .about {
    background-color: #ffffff;
    margin-bottom: 10px; }
    body #sidebar .about .title {
      background-color: #887f69;
      padding: 15px; }
    body #sidebar .about .sub_box {
      padding: 15px; }
    body #sidebar .about .about_img {
      width: 80%; }
    body #sidebar .about .more {
      text-align: center;
      margin-top: 10px; }
    body #sidebar .about p {
      margin: 0; }
  body #sidebar .shop_info {
    background-color: #ffffff;
    margin-bottom: 10px; }
    body #sidebar .shop_info .title {
      background-color: #887f69;
      padding: 15px; }
    body #sidebar .shop_info .sub_box {
      padding: 15px; }
    body #sidebar .shop_info .info_img {
      width: 80%; }
    body #sidebar .shop_info .more {
      text-align: center;
      margin-top: 10px; }
    body #sidebar .shop_info p {
      margin: 0; }
  body footer #pagetop {
    text-align: right; }
  body footer ul {
    margin: 0 auto 20px;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #887f69; }
    body footer ul li {
      display: inline-block;
      margin: 0 5px;
      padding: 0 10px;
      font-size: 1.2rem; }
  body footer .copy {
    font-size: 0.8em;
    margin-bottom: 20px;
    text-align: center;
    color: #b8b4ac; }

@media (max-width: 550px) {
  #new_area h2 {
    background-repeat: no-repeat;
    background-image: url(/images/top_sp/title_new_item.png);
    background-size: 97px 12px; } }
  @media screen and (max-width: 550px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 550px) and (min-resolution: 2dppx) {
    #new_area h2 {
      background-image: url(/images/top_sp/title_new_item@2x.png); } }
@media (max-width: 550px) {
  #new_area .item {
    width: 50%; }

  #popular_area h2 {
    background-repeat: no-repeat;
    background-image: url(/images/top_sp/title_popular.png);
    background-size: 138px 12px; } }
  @media screen and (max-width: 550px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 550px) and (min-resolution: 2dppx) {
    #popular_area h2 {
      background-image: url(/images/top_sp/title_popular@2x.png); } }

@media (max-width: 550px) {
  #guide_area h2 {
    background-repeat: no-repeat;
    background-image: url(/images/top_sp/title_guide.png);
    background-size: 151px 12px; } }
  @media screen and (max-width: 550px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 550px) and (min-resolution: 2dppx) {
    #guide_area h2 {
      background-image: url(/images/top_sp/title_guide@2x.png); } }

@media (max-width: 550px) {
  footer li {
    margin: 0 1px; } }
@media (min-width: 550px) {
  header #header_in {
    margin-top: 10px;
    padding: 20px 0 0; }
    header #header_in .logo {
      float: left; }
    header #header_in .sp_navi {
      display: none; }
    header #header_in .pc_navi {
      display: block; }
      header #header_in .pc_navi ul {
        float: right;
        padding: 17px 0 0; }
        header #header_in .pc_navi ul li {
          display: inline-block;
          margin: 0 4px; } }

/*# sourceMappingURL=style.css.map */
